html,
body {
	height: 100%;
	font-family: "Merriweather", serif;
	font-size: 18px;
	background-color: #000;
}

.navbarContainer {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
}

/* Background color for navbar */
.navBar {
	background-color: #000;
	text-align: center;
	overflow: hidden;
	margin: 0 auto;
	box-sizing: border-box;
	width: 100%;
	max-width: 1024px;
}

/* Style for links in navbar */
.navBar a {
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}

/* Change color of link in navbar on hover */
.navBar a:hover {
	background-color: #ddd;
	color: black;
}

.pageContainer {
	display: flex;
	justify-content: center;
}

.page-Contents {
	max-width: 1024px;
	color: #f2f2f2;
}

.listContainer {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}

.imgContainer {
	text-align: center;
}
